BASE_API_URL=https://api.descope.com

# you can find your PROJECT_ID here: https://app.descope.com/settings/project
PROJECT_ID=YOUR-DESCOPE-PROJECT-ID-HERE

# enter your Descope Flow ID
# only basic flows (without deep link/oauth supported as of now)
FLOW_ID=sign-up-or-in

# Choose your app's authentication flow by uncommenting it: simple/modal/inline
AUTH_FLOW_TYPE=simple
# AUTH_FLOW_TYPE="modal"
# AUTH_FLOW_TYPE="inline"